.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.profileTop{
    margin-left: 10vw;
    margin-right: 10vw;
    flex: 9;
    flex-direction: row;
    justify-content: center;
}

.profileCover{
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.profileCover .profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile .editBox {
    margin-left: 520px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(139, 184, 232, 0.5);
}
.profileUserImg{
    width: 150px;
    height: 150px;
    top: 250px;
    border-radius: 50%;
    object-fit: cover;
    position: center;
    margin: auto;
    border: none;
}

.profileBottom{
    margin-left: 10pw;
    margin-right: 10pw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}